.contato{
    background-color: #dddddd;
    padding-bottom: 4rem;
    @include tablet{
        padding-bottom: 1.2rem;
    }
    .contato-conteudo{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include tablet{
            flex-direction: column;
        }
        //onde estamos
        .onde-estamos{
            width: 50%;
            margin-top: 2rem;
            @include tablet{
                width: 100%;
                margin-top: 1rem;
            }
            h2{
                font-family: regular-padrao;
                color: #254353;
                font-weight: bold;
                font-size: 1.8rem;
            }
            p{
                font-family: regular-padrao;
                color: #254353;
                max-width: 360px;
                @include tablet{
                    max-width: inherit;
                }
            }
            ul{
                margin-top: 2rem;
                li{
                    margin: 1.5rem 0;
                    .email-destaque{
                        color: $secundaria;
                    }
                    a{
                        font-family: regular-padrao;
                        color: #254353;
                        text-decoration: none;
                        display: flex;
                        align-items: flex-start;
                    }
                    img{
                        margin-right:10px;
                    }
                }
            }
        }
        //formulário
        .form-contato{
            width: 50%;
            margin-top: 2rem;
            @include tablet{
                width: 100%;
                margin-top: 1rem;
            }
            h2{
                font-family: regular-padrao;
                color: #254353;
                font-weight: bold;
                font-size: 1.8rem;
                margin-bottom: 1.5rem;
            }
            input{
                width: 100%;
                padding: .5rem .8rem;
                border: none;
                border-radius: 5px;
                margin-bottom: 1rem;
            }

            textarea{
                width: 100%;
                padding: .5rem .8rem;
                border: none;
                border-radius: 5px;
            }
            ::-webkit-input-placeholder {
                color:#5f5e5e;
                font-family: auxiliar;
                font-weight: bold;
             }
            
             :-moz-placeholder {
                color:#5f5e5e;
                font-family: auxiliar;
                font-weight: bold;
             }
            
             ::-moz-placeholder {
                color:#5f5e5e;  
                font-family: auxiliar;
                font-weight: bold;
             }
            
             :-ms-input-placeholder {  
                color:#5f5e5e;  
                font-family: auxiliar;
                font-weight: bold;
             }
             .check-group{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 1rem;
                #novidade{
                    width: max-content;
                    margin: 0 .5rem 0 0;
                }
                label{
                    font-family: regular-padrao;
                    color: #254353;
                    font-size: 12px;
                    margin-bottom: 0;
                }
             }
             .wpcf7-submit{
                width: max-content;
                background: #dc9131;
                padding: .5rem 3rem;
                color: #fff;
                font-family: regular-padrao;
                font-size: 1.4rem;
                cursor: pointer;
                transition: all .5s ease-out;
                &:hover{
                    color: #dc9131;
                    background:#254353;
                }
             }
        }
    }
    .localizacao{
       h2{
        font-family: regular-padrao;
        color: #254353;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
       }
    }
}

