//Verde principal #254353
//Amarelo principal #dc9131
//background legenda produto #04262d
//bem vindo #efefef
//bg noticias #e9e9e9
//rodape #004554
//jazzz #00333e
$principal: #254353;
$secundaria: #dc9131;
$bg-produto:#04262d;
$bg-bem-vindo:#efefef;
$bg-noticias:#e9e9e9;
$bg-footer:#004554;
$bg-jazzz:#00333e;