.empreendimento{
    background-color: #dddddd;
    .content-empreendimento{
        margin-top:1rem;
        .filter{
            width:100%;
            margin: 0 auto;
            background-color: #fff;
            padding: 2rem;
            border-radius: 20px;
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            @include tablet{
                padding:2rem .9rem;
            }
        }
        p{
            font-family: regular-padrao;
            color: #254353;
        }
        a{
            font-family: regular-padrao;
            color: #fff;
            text-decoration: none;
            .item-empreendimento{
                margin-bottom: 2rem;
                background: #254353;
                .titulos-empreendimento{
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    h1{
                        font-size: 1.4rem;
                        margin-top:.5rem;
                        word-break: break-word;
                        margin-bottom:5px;
                        font-weight: bold;
                        letter-spacing: 2px;
                    }
                }
                .img-destaque{
                    position: relative;
                    transition: all .5s ease-out;
                    &:hover{
                        .icone{
                            background: #254353bf;
                            height: 100%;
                            width: 100%;
                            img{
                                padding: 10px;
                                border: solid 2px #fff;
                                border-radius: 50%;
                                
                            }
                            .veja{
                                display: block;
                            }
                        }
                    }
                    .img-destaque-item{
                        img{
                            width: 100%;
                            height: 458px;
                            object-fit: cover;
                        }
                    }
                    .icone{
                        background:#254353;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        transition: all .5s ease-out;
                        img{
                            transition: all .5s ease-out;
                        }
                        .veja{
                            display: none;
                            margin-top: 5px;
                            color: #fff;
                            font-family: regular-padrao;
                        }
                    }
                }

            }
        }

    }
}