.empreendimentos{
    background-color: #dddddd;
    // padding-bottom: 4rem;
    // @include tablet{
    //     padding-bottom: 1.2rem;
    // }
    .topo-empreendimento{
        margin-top: 1rem;
        display: flex;
        align-items: flex-start;
        margin-bottom:.5rem;
        @include tablet{
            flex-direction: column;
        }
        .img-destaque{
            width: 60%;
            margin-right:.8rem;
            @include tablet{
                width: 100%;
                margin-right: 0;
            }
            img{
                width: 100%;
                height: 428px;
                object-fit: cover;
                @include tablet{
                    height: 250px;
                }
            }


        }
        .outras-galeria{
            width: 40%;
            display: flex;
            justify-content:flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            // margin-left:.4rem;
            @include tablet{
                width: 100%;
            }
            .item{
                display:flex;
                flex-wrap: wrap;
                img{
                    width: 213px;
                    margin: .2rem;
                    height: 208px;
                    object-fit: cover;
                    @include tablet{
                        width: 48%;
                        height: 150px;
                    }
                }
            }
        }
    }
    .info-empreendimentos{
        font-family: regular-padrao;
        
        .titulo-empreendimento{
            font-size: 1.8rem;
            color: #254353;
        }
        .info{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @include tablet{
                flex-direction: column;
            }
            .cont-info{
                width: 50%;
                @include tablet{
                    width: 100%;
                }
            }
            .sobre-imovel{
                background: #efefef;
                padding: 1rem;

                margin-right: 1rem;
                @include tablet{
                    width: 100%;
                    margin: 1rem 0;
                }
                h3{
                    font-size: 1rem;
                    font-weight: bold;
                    color: #254353;
                    margin: 1rem 0;
                    letter-spacing: 2px;
                }
                p{
                    color: #254353;
                }
                .cont-sobre{
                    margin-bottom: 1rem;
                    border-bottom: solid 1px #a8a8a8;
                    padding-bottom: 1rem;
                }
                .condominio{
                    margin-top: 2rem;
                }
                .detalhes{
                    margin-bottom: 1rem;
                    border-bottom: solid 1px #a8a8a8;
                    margin-top: 1rem;
                    ul{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: wrap;                        
                        li{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content:center;
                            margin: 0 .5rem;
                            span{
                                font-size: .7rem;
                                margin-top: .5rem;
                            }
                        }
                    }
                }
            }
            .interesse{
                width: 50%;
                margin-left: 1rem;
                background: #254353;
                padding: 1.5rem 2rem;
                padding-bottom: 0;
                @include tablet{
                    width: 100%;
                    margin: 1rem 0;
                    padding: 1.5rem;
                }
                h2{
                    font-size: 1.5rem;
                    color: #fff;
                    margin-bottom: 1.3rem;
                }
                .item-interesse{
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #fff;
                    margin-bottom: 1rem;
                    // .valor{
                    //     width: 110px;
                    // }
                    .linha{
                        width: 60%;
                        height:1px;
                        background: #fff;
                        @include mobile{
                            display: none;
                        }
                    }
                    p{
                        margin-bottom: 0;
                    }
                }
                .item-interesse-total{
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    color: $secundaria;
                    margin-bottom: 1rem;
                    .linha{
                        width: 60%;
                        height:1px;
                        background: $secundaria;
                        @include mobile{
                            display: none;
                        }
                    }
                    p{
                        margin-bottom: 0;
                    }
                }
                .info-interesse{
                    color: #fff;
                    margin: 2rem 0;
                }
                .form-interesse{
                    p{
                        margin-bottom: 0;
                    }
                    form{
                        input{
                            width: 100%;
                            padding: .8rem .8rem;
                            border: none;
                            border-radius: 5px;
                            margin-bottom: 1rem;
                            color:#5f5e5e; 
                        }
                        ::-webkit-input-placeholder {
                            color:#5f5e5e;
                            font-family: auxiliar;
                            font-weight: bold;
                         }
                        
                         :-moz-placeholder {
                            color:#5f5e5e;
                            font-family: auxiliar;
                            font-weight: bold;
                         }
                        
                         ::-moz-placeholder {
                            color:#5f5e5e;  
                            font-family: auxiliar;
                            font-weight: bold;
                         }
                        
                         :-ms-input-placeholder {  
                            color:#5f5e5e;  
                            font-family: auxiliar;
                            font-weight: bold;
                         }
                         .wpcf7-submit{
                             width: 100%;
                             background: #dc9131;
                             border: none;
                             border-radius: 5px;
                             padding: .7rem 3rem;
                             color: #fff;
                             font-family: regular-padrao;
                             font-size: 1.2rem;
                             cursor: pointer;
                             transition: all .5s ease-out;
                             &:hoveR{
                                 background: #fff;
                                 color: #dc9131;
                             }
                         }
                    }
                    
                }
            }
        }
    }
    .mapa{
        margin: 2rem 0;
        h2{
            font-family: regular-padrao;
            color: #254353;
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
        iframe{
            width: 100%!important;
        }
    }
    .preciso-alugar{
        background-color: #feedd1;
        padding: 1.3rem 3rem;
        margin-bottom:1.5rem;
        @include tablet{
            padding:1.3rem 1rem;
        }
        h2{
            font-size: 1rem;
            text-align: center;
            color: #254353;
            margin: 1rem 0;
            letter-spacing: 2px;
        }
        .item-preciso{
            display: flex;
            justify-content: space-between;
            @include tablet{
                flex-direction: column;
            }
            ul{
                width: 33.33%;
                @include flex-column;
                justify-content: flex-start;
                text-align: center;
                @include tablet{
                    width: 100%;
                    justify-content: center;
                }
                h3{
                    font-size: 1rem;
                    text-align: center;
                    color: #254353;
                    font-family: regular-padrao;
                    font-weight: bold;
                    // margin: 1rem 0;
                }
                p{
                    font-family: regular-padrao;
                    color: #254353;
                    font-size: .9rem;
                    max-width: 300px;
                }
            }
        }
    }
    .video-imovel{
        padding-bottom: 1rem;
        iframe{
            width: 100%;
            height: 600px;
        }
    }
}
.interesse-button{
    a{
        text-align: center;
        padding: .5rem 1rem;
        width: 100%;
        background: #dc9131;
        border: none;
        border-radius: 5px;
        padding: .7rem 3rem;
        color: #fff;
        font-family: regular-padrao;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all .5s ease-out;
        text-decoration: none;
        display: block;
        width: 340px;
        margin: 1rem auto;
        &:hover{
            background: #fff;
            color: #dc9131;
        }
    }
}
.fotos-destaque{
    .owl-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .owl-prev{
        position: relative;
        // background: red!important;
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        height: 30px;
        width: 30px;
        background:url('../icons/right-arrow.svg')!important;
        transform: rotate(180deg);
    }
    .owl-next{
        position: relative;
        background:url('../icons/right-arrow.svg')!important;
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        height: 30px;
        width: 30px;
    }
}


.modal-fotos{
    .modal-content{
        background-color: transparent;
        border: none;
    }
    img{
        width: 100%;
    }
}