footer{
    .cont-footer{
        background-color: #293846;
        padding: 4rem 2rem 2rem 2rem;
        @include tablet{
            padding:3rem 0;
        }
        .mapa-site{
            border-right: solid 1px #fff;
            @include tablet{
                border-bottom: solid 1px #fff;
                margin:0 1rem 2rem 1rem;
                padding: 0;
                border-right: none;
            }
            h5{
                color: #Fff;
                font-size: 1.8rem;
                margin-bottom: 1.9rem;
                font-weight: normal !important;
                font-family: regular-padrao;
                @include tablet{
                    font-size: 1.3rem;
                    margin-bottom: 1.5rem;
                }
            }
            ul{
                display: flex;
                justify-content: space-between;
                width: 80%;
                @include tablet{
                    width: 100%;
                }
                li{
                    margin-bottom:2px;
                    a{
                        color: #Fff;
                        font-family: titulo;
                        text-transform: uppercase;
                        font-size: .8rem;
                        &:hover{
                            color:$secundaria;
                        }
                    }
                }
            }
        }
        .contatos{
            padding: 0 2.1rem;
            border-right: solid 1px #fff;
            @include tablet{
                border-bottom: solid 1px #fff;
                margin:0 1rem 2rem 1rem;
                padding: 0;
                border-right: none;
            }
            h5{
                color: #Fff;
                font-size: 1.8rem;
                margin-bottom: 1.9rem;
                font-weight: normal !important;
                font-family: regular-padrao;
                @include tablet{
                    font-size: 1.3rem;
                    margin-bottom: 1.5rem;
                }
            }
            address{
                a{
                    color: #fff;
                    font-family: auxiliar;
                    font-size: 1.1rem;
                    &:hover{
                        color:$secundaria;
                    }
                    @include tablet{
                        font-size: .9rem;
                    }
                }
            }
            .tel{
                display:flex;
                flex-direction: column;
                a{
                    color: #fff;
                    font-family: auxiliar;
                    font-size: 1.1rem;
                    &:hover{
                        color:$secundaria;
                    }
                    @include tablet{
                        font-size: .9rem;
                    }
                }
            }
        }
        .news{
            display: flex;
            flex-direction: column;
            padding: 0 3rem;
            @include tablet{
                padding: 0 1rem;
            }
            h5{
                color: #Fff;
                font-size: 1.8rem;
                margin-bottom: .5rem;
                font-weight: normal !important;
                font-family: regular-padrao;  
            }
            span{
                color: #fff;
                font-family: auxiliar;
                font-size: .8rem;
                margin-bottom: .5rem;
            }
            .group-footer-email{
                input{
                    background-color:#314251;
                    // border: solid 1px #14252e;
                    border: none;
                    height: 45px;
                    padding: 1rem;
                    font-size: .8rem;
                    color: #fff;
                    border-bottom: 0;
                    width: 70%;
                }
                .btn-news{
                    background: #14252e;
                    color: #Fff;
                    border: none;
                    // text-transform: uppercase;
                    height: 45px;
                    font-size: .8rem;
                    padding: 0 .8rem;
                    font-family: auxiliar;
                    cursor: pointer;
                    width:25%;
                    border-radius: 1px;
                    transition: all .5s ease-out;
                    &:hover{
                        background: #fff;
                        color: #14252e;
                    }
                }
            }
            @include cor-placeholder;
            .social-footer{
                border-top: solid 1px #fff;
                padding-top:1.5rem;
                // margin-top: 1.5rem;
                ul{
                    display: flex;
                    background: #14252e;
                    padding: .8rem 1rem;
                    align-items: center;
                    flex-wrap: wrap;
                    width: max-content;
                    max-width: max-content;
                    .item1{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    li{
                        margin: 0 7px;
                        span{
                            font-weight: bold;
                            font-size: .7rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    //jazzz
    .jazzz{
        background-color:#14252e;
        .cont-jazzz{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            text-transform: uppercase;
            padding: 1rem;
            font-size: .8rem;
        }
    }
}