
// ::-webkit-input-placeholder {
//     color:#fff;
//     font-family: auxiliar;
//  }
 
//  :-moz-placeholder {
//     color:#fff;
//     font-family: auxiliar;
//  }
 
//  ::-moz-placeholder {
//     color:#fff;  
//     font-family: auxiliar;
//  }
 
//  :-ms-input-placeholder {  
//     color:#fff;  
//     font-family: auxiliar;
//  }

.titulo-interno{
   background:url('../imgs/bg-titulo.jpg')no-repeat;
   background-size: cover;
   font-family: regular-padrao;
   color: #Fff;
   padding: 2.6rem 15px;
   h1{
      @include tablet{
         font-size: 2rem;
      }
   }
}

.breadcrumbs {
   margin-top: 15px;
   a{
      font-family: regular-padrao;
      color: #254353;
      font-size: 13px;
   }
   span{
      font-family: regular-padrao;
      color: #254353;
      font-size: 13px;
      font-weight: bold;
   }
}

//FILTRO
.searchandfilter{
   ul{
      margin-bottom: 0;
      padding-left: 0; 
      @include tablet{
         display: flex!important;
         flex-direction: column;
      }
      li{
         margin-bottom:1rem;
         @include tablet{
            margin: .5rem 0;
         }
      }
      li:nth-child(5){
         margin-bottom: 0;
      }
      li:nth-child(6){
         margin-bottom: 0;
         margin-left: 10px;
         @include tablet{
            margin-left: 0;
         }
      }
      li:nth-child(7){
         margin-bottom: 0;
      }
   }
   select{
      background: #f5f5f5;
      color: #656565;
      border:solid 1px #cccccc;
      padding: .9rem 2rem;
      font-family: titulo;
      font-size: .9rem;
      border-radius: 7px;
      @include tablet{
          padding: .9rem 1rem;
          width: 100%;
      }
     }
     input{
      background: $principal;
      color: #Fff;
      text-transform: uppercase;
      border: none;
      border-radius: 7px;
      font-size: .9rem;
      padding: .8rem 1.5rem;
      font-family: titulo;
      cursor:pointer;
      &:hover{
          background: $secundaria;
      }
      @include tablet{
          margin-top: .5rem;
          width: 120px;
          padding: .8rem 1rem;
      }
   }
}

.compartilhamento{
      display: flex;
    align-items: center;
   .sharify-container{
      width: 37%;
      li{
         width: 50px;
      }
   }
   #whatsapp-share-btt{
      width: 47px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #4CAF50;
      margin-bottom: 5px !important;
   }
}