header{
    .cont-header{
        .menu{
            padding:.2rem 0;
            @include flex-extremos;
            list-style: none;
            margin-bottom: 0;
            @include tablet{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            li{
                padding:0 .5rem;
                a{
                    color: $principal;
                    font-family: titulo;
                    text-transform: uppercase;
                    font-size: .8rem;
                    transition: all .5s ease-in-out;
                    text-decoration: none;
                    &:hover{
                        color: $secundaria;
                    }
                }
            }
            .current_page_item{
                position: relative;
                &::before{
                    content: " ";
                    width: 20px;
                    line-height: 20px;
                    height: 20px;
                    background: url(../icons/arrow-down.svg);
                    background-repeat: no-repeat;
                    margin: 0 auto;
                    bottom: -25px;
                    left:30%;
                    right: 30%;
                    display:block;
                    position: absolute;
                    text-align: center;
                    @include tablet{
                        display:none;
                    }
                }
            }
        }
        #navbarNav{
            justify-content: center;
        }
        .social-header{
            @include tablet{
                display: none;
            }
            a{
                color: $principal;
                font-family: titulo;
                font-size: .9rem;
            }
            a:nth-child(1){
                margin-right: 1rem;
                img{
                    margin-right: .4rem;
                }
            }
        }
    }
    .conteudo-header{
        @include tablet{
            width: 100%;
            @include flex-extremos;
        }
    }
}