//banner
.hero{
    background: url('../imgs/banner.jpg')no-repeat;
    background-size: cover;
    width: 100%;
    font-family: regular-padrao;
    position: relative;
    padding:5rem 2rem;
    @include tablet{
        padding:3rem 0;
    }
    h1{
        color:#fff;
        text-align: center;
        @include tablet{
            font-size: 1.8rem;
        }
    }
    h2{
        color: $secundaria;
        text-align: center;
        @include tablet{
            font-size:1.5rem;
            margin-bottom: .8rem;
        }
    }
    //filtro 
    .filter{
        width: 92%;
        margin: 0 auto;
        background-color: #fff;
        padding: 2rem 1.5rem;
        border-radius: 20px;
        margin-top: 2.5rem;
        @include tablet{
            padding:2rem .9rem;
            margin-top: 1rem;
        }
        .cont-filter{
            display: flex;
            align-items: flex-end;
            @include tablet{
                flex-direction: column;
            }
            .campo-1,.campo-2,.campo-3{
                display:flex;
                flex-direction: column;
            }
        }
        span{
            color: $secundaria;
            font-family: titulo;
            font-weight: bold;
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }
        .campo-1{
            .button-group{
                display: flex;
                button{
                    background: #f5f5f5;
                    color: #656565;
                    border:solid 1px #cccccc;
                    padding: .8rem 1rem;
                    font-family: titulo;
                    font-size: .9rem;
                }
                button:nth-child(1){
                    border-top-left-radius:7px;
                    border-bottom-left-radius: 7px;;
                }
                button:nth-child(3){
                    border-top-right-radius:7px;
                    border-bottom-right-radius: 7px;;
                }
                .active{
                    background: $secundaria;
                    color: #fff;
                }
            }
        }
        .campo-2{
            margin: 0 .8rem;
            @include tablet{
                margin: 1rem 0;
            }
           select{
            background: #f5f5f5;
            color: #656565;
            border:solid 1px #cccccc;
            padding: .9rem 2rem;
            font-family: titulo;
            font-size: .9rem;
            border-radius: 7px;
            @include tablet{
                padding: .9rem 1rem;
            }
           }

        }
        .campo-3{
            .input-group{
                @include tablet{
                    display: flex;
                    flex-direction: column;
                }
                input{
                    background: #f5f5f5;
                    color: #656565;
                    border:solid 1px #cccccc;
                    padding: .8rem 1rem;
                    font-family: titulo;
                    font-size: .9rem;
                    border-radius: 7px;
                    margin-right: .8rem;
                }
                button{
                    background: $principal;
                    color: #Fff;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 7px;
                    font-size: .9rem;
                    padding: .8rem 1.5rem;
                    font-family: titulo;
                    @include tablet{
                        margin-top: .5rem;
                        width: 120px;
                        padding: .8rem 1rem;
                    }
                }
            }
        }
    }
    .filter-enviar{
        background: $principal;
        color: #Fff;
        text-transform: uppercase;
        border: none;
        border-radius: 7px;
        font-size: .9rem;
        padding: .8rem 1.5rem;
        font-family: titulo;
        cursor:pointer;
        &:hover{
            background: $secundaria;
        }
        @include tablet{
            margin-top: .5rem;
            width: 120px;
            padding: .8rem 1rem;
        }
   }
    //links
    .links{
        color: #fff;
        font-family: titulo;
        margin-top: 4.5rem;
        h4{
            font-size: 1.1rem;
            @include tablet{
                font-size: 1rem;
            }
        }
        ul{
            display: flex;
            justify-content: space-between;
            width: 600px;
            margin-top: 1.3rem;
            flex-direction: column;
            @include tablet{
                flex-direction: column;
                width: 100%;
            }
            a{
                color: #fff;
                font-family: titulo;
                text-decoration: underline!important;
                font-size: .8rem;
                font-style: italic;
                &:hover{
                    color: $secundaria;
                }
            }
        }
    }
    //redes-sociais-banner
    .social-banner{
        position: absolute;
        right: 30px;
        bottom: 5px;
        li{
            background-color: #004554;
            width:70px;
            height:70px;
            @include flex-center;
            margin-bottom: 3px;
            transition: all .5s ease-out;
            &:hover{
                background-color:$secundaria;
            }
            @include tablet{
                width: 45px;
                height: 45px;
            }
        }
    }
}
//sobre
.sobre-home{
    background-color: #FFf;
    padding:4rem;
    @include tablet{
        padding: 0;
    }
    .cont-sobre-home{
        display:flex;
        align-items: center;
        @include tablet{
            flex-direction: column-reverse;
            padding: 0;
        }
        .img-sobre-home{
           img{
               @include tablet{
                width:100%;
               }
           }
        }
    }
    .info-sobre-home{
        h2{
            font-family: regular-padrao;
            text-transform: uppercase;
            font-size: .9rem;
            color: $principal;
            margin-left: 3rem;
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom: 2rem;
            @include tablet{
                display: none;
            }
        }
    }
    .conteudo{
        background-color: $bg-bem-vindo;
        padding: 2rem 3rem;
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablet{
            padding:2rem 1rem;
        }
        h2{
            font-size: 2rem;
            text-transform: none;
            margin-left: 0;
            font-weight: normal;
            letter-spacing: 0;
            margin-bottom: 1.3rem;
            @include tablet{
                display: block;
                font-size: 1.5rem;
            }
        }
        p{
            font-family: auxiliar;
            color: $principal;
            font-size: 1.1rem;
            max-width: 95%;
            padding-bottom: 1.3rem;
            border-bottom: solid 2px #a8a8a8;
        }
        a{
            font-family: regular-padrao;
            text-transform: uppercase;
            color: $principal;
            font-size: 12px;
            letter-spacing: 4px;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

//noticias
.noticias-home{
    background-color: $bg-noticias;
    padding: 3rem;
    h2{
        font-family: regular-padrao;
        text-align: center;
        color: $principal;
        margin-bottom: 2.5rem;
        @include tablet{
            font-size: 1.5rem;
        }
    }
    .cont-noticias-home{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
        a{
            color: $principal;
            text-decoration: none;
            span{
                color:#797979;
            }
        }
        .item-noticia-home{
            background-color: #fff;
            width: 344px;
            border-bottom: solid 10px $secundaria;
            .img-item{
                img{
                    height: 210px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .item-content{
                padding:1.3rem 1.3rem 2.5rem 1.3rem;
                height: 350px;
                span{
                    font-size:.7rem;
                    font-family: auxiliar;   
                }
                h3{
                    font-family: auxiliar;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    margin: .8rem 0 1rem 0;
                    @include tablet{
                        font-size:1.2rem;
                    }
                }
                p{
                 font-family: auxiliar;
                 font-size: .95rem;
                }
            }
        }
        a:nth-child(2){
            margin:0 1.3rem;
            @include tablet{
                margin: 1.3rem 0;
            }
        }
    }
}