//noticia em destaque essa não é a pagina de notícias
.noticia-destaque{
    background-color: #dddddd;
    padding-bottom: 4rem;
    @include tablet{
        padding-bottom: 1.2rem;
    }
    .content-noticia-destaque{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 2rem;
        @include tablet{
            flex-direction: column;
            margin-top:1rem;
        }
        .item-noticia{
            width: 65%;
            @include tablet{
                width: 100%;
            }
            h1{
                font-family: regular-padrao;
                color: #254353;
                font-weight: bold;
                font-size: 1.8rem;
            }
            .data-noticia{
                font-family: regular-padrao;
                color: #254353;
                font-size: .8rem;
                margin-left:5px;
            }
            .img-destaque{
                img{
                    width: 100%;
                    height: 360px;
                    object-fit: cover;
                    margin-top: 1rem;
                }
            }
            .item-content{
                font-family: regular-padrao;
                color: #254353;
                margin-top: 1.5rem;
            }
        }
        .outras-noticias{
            width: 30%;
            background-color: #efefef;
            margin-top: 5rem;
            @include tablet{
                width: 100%;
                margin-top: 1rem;
            }
            h3{
                background-color: #254353;
                font-family: regular-padrao;
                color: #fff;
                font-weight: bold;
                font-size: 1.2rem;
                text-align: center;
                padding: .8rem 1rem;
            }
            ul{
                padding: 0 1rem;
                li{
                    margin-top:1rem;
                }
            }
            a{
                font-family: regular-padrao;
                color: #254353;
                margin-top: 1.5rem;
                text-decoration: none;
                &:hover{
                    color: $secundaria;
                }
                h4{
                    font-size: 1rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}

//CSS DA PÁGINA DE NOTÍCIAS
.noticias-page{
    background-color: #dddddd;
    padding-bottom: 4rem;
    @include tablet{
        padding-bottom: 1.2rem;
    }
    .noticias-page-cont {
        margin-top: 2rem;
        @include tablet{
            margin-top: 1rem;
        }
        a{
            font-family: regular-padrao;
            color: #254353;
            text-decoration: none;
            .noticia-item{
                display:flex;
                margin-bottom: 2rem;
                @include tablet{
                    flex-direction: column;
                }
                .data-noticia{
                    margin-left: 10px;
                }
                .cont-noticias-page{
                    margin-left: 1.2rem;
                    @include tablet{
                        margin-left:0;
                    }
                    h5{
                        color: $secundaria;
                        font-size: .8rem;
                    }
                }
            }
            .img-noticia{
               img{
                    width: 340px;
                    height: 210px;
                    object-fit: cover;
                    @include tablet{
                        width: 100%;
                        margin-bottom: 1rem;
                    }
               }
            }
        }
    }
}
