.politicas{
    background-color: #dddddd;
    padding-bottom: 4rem;
    @include tablet{
        padding-bottom: 1.2rem;
    }
    .chamada-politicas{
        font-family: regular-padrao;
        color: #254353;
        font-weight: bold;
        margin-top:2rem;
        border-bottom: solid 2px $secundaria;
        padding-bottom:1rem;
        margin-bottom: 2rem;
        h2{
            font-size: 1.2rem;
        }
    }
    nav{
        li{
            margin-top:.8rem;
        }
        a{
            font-family: regular-padrao;
            color: #254353;
            font-weight: bold;
            font-size: .8rem;
            text-decoration:none;
            &:hover{
                color: $secundaria;
            }
        }
    }
    .conteudo-politicas{
        article{
            margin: .5rem 0 1.5rem 0;
            h3{
                font-family: regular-padrao;
                color: #254353;
                font-weight: bold;
                @include tablet{
                    font-size: 1.5rem;
                }
            }
            p{
                font-family: regular-padrao;
                color: #254353;
            }
        }
    }
}