.quem-somos{
    background-color: #dddddd;
    padding-bottom: 4rem;
    @include tablet{
        padding-bottom: 1.2rem;
    }
    .quemsomos-conteudo{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include tablet{
            flex-direction: column;
        }
        .conteudo-quemsomos{
            width: 50%;
            margin-top: 2rem;
            @include tablet{
                width: 100%;
            }
            h2{
                font-family: regular-padrao;
                color: #254353;
                font-weight: bold;
                font-size: 1.8rem;
            }
            p{
                font-family: regular-padrao;
                color: #254353;
                margin-top: 1.5rem;
            }
        }
        .img-quemsomos{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            @include tablet{
                width: 100%;
                justify-content: flex-start;
            }
            img{
                @include tablet{
                    width: 100%;
                }
            }
        }
    }
    //corretor
    .corretor{
        background: #254353;
        padding: 2rem 2rem;
        text-align: center;
        margin-top: 2rem;
        h2{
            font-family: regular-padrao;
            color: #fff;
            margin-bottom: 2rem;
            font-weight: bold;
            font-size:1.8rem;
            @include tablet{
                font-size: 1.3rem;
            }
        }
        .corretor-cont{
            .item{
                display: flex;
                justify-content: center;
                .corretor-item{
                    width: 33.33%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .img-corretor{
                        img{
                            border-radius: 50%;
                            height: 200px;
                            width: 200px;
                        }
                    }
                    .info-corretor{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h3{
                            font-family: regular-padrao;
                            color: #fff;
                            margin-top: 10px;
                            margin-bottom: 0;
                            font-weight: bold;
                            @include tablet{
                                font-size: 1.3rem;
                            }
                        }
                        span{
                            font-family: regular-padrao;
                            color: #fff;
                        }
                        a{
                            font-family: regular-padrao;
                            color:#fff;
                            font-size:.9rem;
                        }
                    }
                }
            }
        }
    }
}