$mobile:600px;
$tablet: 900px;
$desktop: 1024px;
$lg:1199px;
$big:1750px;
/* MIXINS RESPONSIVO */
@mixin mobile {
    @media only screen and (max-width: $mobile) {
        @content;
    }
}
@mixin tablet {
    @media only screen and  (max-width: $tablet) {
        @content;
    }
}
@mixin desktop {
    @media only screen and (max-width: $desktop) {
        @content;
    } 
}
@mixin lg {
    @media only screen and (max-width: $lg) {
        @content;
    }
}
@mixin big{
    @media only screen and (min-width:$big){
        @content;
    }
}