
//Imovel Destaque
.imovel-destaque{
    background: url('../imgs/background-produtos.jpg')no-repeat;
    padding:4rem 2rem;
    background-size: cover;
    @include tablet{
        padding:3rem 0;
    }
    h2{
        text-align: center;
        color: #fff;
        font-family: regular-padrao;
        margin-bottom:2.5rem;
        @include tablet{
            font-size: 1.5rem;
        }
    }
    a{
        text-decoration: none;
    }
    .cont-item{
        width:335px;
        margin-bottom: 2rem;
        a{
            color: #fff;
            .tipo-empreendimento{
                width: max-content;
                position: absolute;
                bottom: 0px;
                padding: 3px 15px;
                span{
                    color: #fff;
                    font-family: regular-padrao;
                    text-transform: uppercase;
                    font-size: .8rem;
                }
            }
        }
        #Venda{
            background: #c8943c;
        }
        #Lançamentos{
          background: #5783b0;  
        }
        #Aluguel{
            background:#8f6fa2;
        }
        .img-destaque{
            position: relative;
            transition: all .5s ease-out;
            &:hover{
                .icone{
                    background:#14252ec2;
                    height: 100%;
                    width: 100%;
                    img{
                        padding: 10px;
                        border: solid 2px #fff;
                        width: 40px;
                        border-radius: 50%;
                    }
                    .veja{
                        display: block;
                    }
                }
            }
        }
        .img-imovel-item{
            img{
                height: 458px;
                object-fit: cover;
            }
        }
        .icone{
            background:#14252e;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: all .5s ease-out;
            img{
                transition: all .5s ease-out;
                
            }
            .veja{
                display: none;
                margin-top: 5px;
                color: #fff;
                font-family: regular-padrao;
            }
            .icone-saiba{
                width: 17px;
            }
        }
        .legenda-imovel{
            background-color:#14252e;
            color: #fff;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            h3{
                color:#fff;
                font-family: regular-padrao;
                font-size: 1.1rem;
            }
            span{
                font-family: auxiliar;
                color: #fff;
                font-size: .8rem;
            }

        }
    }
    .todos-imv{
        height: auto;
        display: flex;
        justify-content: center;
        a{
            color: #fff;
            border: solid 2px;
            padding: 1rem 1.5rem;
            border-radius: 11px;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            transition: all .5s ease-in-out;
            font-family: regular-padrao;
            font-size: .8rem;
            letter-spacing: 2px;
            margin-top: 2rem;
            @include tablet{
                text-align: center;
            }
            &:hover{
                background: $secundaria;

            }
        }
    }
    .seta{
        width: 20px;
        height: 23px;
    }
    .seta-esquerda{
        position: relative;
        background:url('../icons/seta-slide.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
    }
    .seta-direita{
        transform: rotate(180deg);
        position: relative;
        background:url('../icons/seta-slide.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
    }
}
