.venda-imovel{
    background-color: #dddddd;
    .venda-imovel-cont{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 2rem auto 3rem auto;
        @include tablet{
            flex-direction: column;
            margin: 1rem auto 2rem auto;
        }
        .info{
            width: 50%;
            @include tablet{
                width: 100%;
            }
            h2{
                font-family: regular-padrao;
                color: #254353;
                font-weight: bold;
                font-size: 1.6rem;
                line-height: 45px;
                @include tablet{
                    font-size: 1.3rem;
                    line-height: 40px;
                }
            }
            p{
                font-family: regular-padrao;
                color: #254353;
                max-width: 470px;
                margin-top: 1.5rem;
                @include tablet{
                    max-width: inherit;
                    margin-top: 1rem;
                }
            }
            .quero-indicar{
                margin-bottom: 2rem;
            }
            a{
                text-decoration: none;
                background: $secundaria;
                color: #Fff;
                font-family: regular-padrao;
                padding: 1rem 1.5rem;
                border-radius: 5px;
                font-weight: bold;
                transition: all .5s ease-out;
                margin-top: 1.5rem;
                display: block;
                width: max-content;
                &:hover{
                    background: #254353;
                }
            }
        }
        .ilustra-venda{
            width: 50%;
            @include tablet{
                width: 100%;
            }
        }
    }
    .cadastre{
        background: #c6c6c6;
        padding: 3rem 0;
        .conteudo-cadastro{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @include tablet{
                flex-direction: column;
            }
            h2{   
                font-family: regular-padrao;
                color: #254353;
                font-size: 1.8rem;
                margin-bottom: 2rem;
            }
            .passos{
                width: 50%;
                @include tablet{
                    width: 100%;
                    margin-bottom: 1.5rem;
                }
            }
            .form-venda{
                width: 50%;
                @include tablet{
                    width: 100%;
                }
                .carousel-control-next-icon{
                    background-image:none;
                }
                input{
                    height: 50px;
                    padding:0 1.3rem;
                }
                #documento, #fotos, #fotos2, #fotos3{
                    padding: 0;
                    height: 30px;
                    @include tablet{
                        width: 100%;
                        height: inherit;
                    }
                }
                textarea{
                    height: 110px;
                }
                label{
                    color: #254353;
                    font-family: auxiliar;
                    font-weight: bold;
                }
                ::-webkit-input-placeholder {
                    color:#5f5e5e;
                    font-family: auxiliar;
                    font-weight: bold;
                 }
                
                 :-moz-placeholder {
                    color:#5f5e5e;
                    font-family: auxiliar;
                    font-weight: bold;
                 }
                
                 ::-moz-placeholder {
                    color:#5f5e5e;  
                    font-family: auxiliar;
                    font-weight: bold;
                 }
                
                 :-ms-input-placeholder {  
                    color:#5f5e5e;  
                    font-family: auxiliar;
                    font-weight: bold;
                 }
                 .botao-form-extremos{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    a{
                        background:$secundaria;
                        font-family: regular-padrao;
                        padding: .5rem 1.5rem;
                        color: #fff;
                        font-size: .9rem;
                        border-radius: 6px;
                        text-decoration: none;
                        transition: all .5s ease-out;
                        &:hover{
                            background:#254353;
                        }
                    }
                 }
                 .botao-form-end{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    a{
                        background:$secundaria;
                        font-family: regular-padrao;
                        padding: .5rem 1.5rem;
                        color: #fff;
                        font-size: .9rem;
                        border-radius: 6px;
                        text-decoration: none;
                        transition: all .5s ease-out;
                        &:hover{
                            background:#254353;
                        }
                    }
                 }
                .botao-form{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    a{
                        background:$secundaria;
                        font-family: regular-padrao;
                        padding: .5rem 1.5rem;
                        color: #fff;
                        font-size: .9rem;
                        border-radius: 6px;
                        text-decoration: none;
                        transition: all .5s ease-out;
                        &:hover{
                            background:#254353;
                        }
                    }
                }
                .enviar-form{
                    background: #254353;
                    font-family: regular-padrao;
                    padding: .5rem 3.5rem;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    @include tablet{
                        padding: .5rem 1.2rem;
                    }
                }
                .input-group-diferente{
                    display: flex;
                    margin-bottom: 1rem;
                    span{
                        width: 50%;
                    }
                    input{
                        width: 100%;
                    }
                    span.wpcf7-form-control-wrap.quartos{
                        margin-right: 10px;
                    }
                    span.wpcf7-form-control-wrap.tamanho{
                        margin-right:10px;
                    }
                }
            }
        }
    }
}