@import 'cores';
@import 'pre-pronto';
@import 'responsivo';
@import 'geral';
@import 'header';
@import 'home';
@import 'quem-somos';
@import 'template';
@import 'empreendimento';
@import 'empreendimento-destaque';
@import 'venda';
@import 'noticia';
@import 'contato';
@import 'politicas';
@import 'footer';

html {scroll-behavior: smooth;}

@font-face {
    font-family: titulo;
    src: url('fonts/Aller_Bd.ttf');
}
@font-face{
    font-family: regular-padrao;
    src:url('fonts/Aller_Regular.ttf');
}
@font-face{
    font-family: auxiliar;
    src:url('../css/fonts/PTSans-Regular.ttf');
}