/* Search & Filter Styles */
body
{
    display:block;
}
.searchandfilter p
{
    margin-top: 1em;
    display:inline-block;
}
.searchandfilter ul
{
    display:inline-block;
}
.searchandfilter li
{
    list-style: none;
    display:inline-block;
    padding-right:10px;
}

/* If in a widget area make a single column by adding display block  */
.widget-area .searchandfilter li, .widget-area .searchandfilter p
{
    display:block;
}
.searchandfilter label
{
    display:block;
}
.searchandfilter h4
{
    margin:15px 0;
    font-size:16px;
}

.searchandfilter ul > li > ul:not(.children)
{
    margin-left:0;
}


.sharify-btn-twitter{
    min-width: 10%;}

.sharify-btn-twitter .sharify-icon{
    float: none;	text-align: center;	padding-left: 0px;}


.sharify-btn-twitter .sharify-count{
    display: none;	padding-right: 10px;
    float: right;
}

.sharify-btn-twitter .sharify-title{
    display: none;}

.sharify-btn-facebook{
    min-width: 10%;}

.sharify-btn-facebook .sharify-icon{
    float: none;	text-align: center;	padding-left: 0px;}


.sharify-btn-facebook .sharify-count{
    display: none;	padding-right: 10px;
    float: right;
}

.sharify-btn-facebook .sharify-title{
    display: none;}

.sharify-btn-gplus{
    min-width: 20%}

.sharify-btn-gplus .sharify-icon{
    float: left;		padding-left: 10px;}


.sharify-btn-gplus .sharify-count{
    display: block;	padding-right: 10px;
    float: right;
}

.sharify-btn-gplus .sharify-title{
}

.sharify-btn-reddit{
    min-width: 20%}

.sharify-btn-reddit .sharify-icon{
    float: left;		padding-left: 10px;}


.sharify-btn-reddit .sharify-count{
    display: block;	padding-right: 10px;
    float: right;
}

.sharify-btn-reddit .sharify-title{
}

.sharify-btn-pocket{
    min-width: 20%}

.sharify-btn-pocket .sharify-icon{
    float: left;		padding-left: 10px;}


.sharify-btn-pocket .sharify-count{
    display: block;	padding-right: 10px;
    float: right;
}

.sharify-btn-pocket .sharify-title{
}

.sharify-btn-pinterest{
    min-width: 20%}

.sharify-btn-pinterest .sharify-icon{
    float: left;		padding-left: 10px;}


.sharify-btn-pinterest .sharify-count{
    display: block;	padding-right: 10px;
    float: right;
}

.sharify-btn-pinterest .sharify-title{
}

.sharify-btn-linkedin{
    min-width: 10%;}

.sharify-btn-linkedin .sharify-icon{
    float: none;	text-align: center;	padding-left: 0px;}


.sharify-btn-linkedin .sharify-count{
    display: none;	padding-right: 10px;
    float: right;
}

.sharify-btn-linkedin .sharify-title{
    display: none;}

.sharify-btn-email{
    min-width: 10%;}

.sharify-btn-email .sharify-icon{
    float: none;	text-align: center;	padding-left: 0px;}


.sharify-btn-email .sharify-count{
    display: none;	padding-right: 10px;
    float: right;
}

.sharify-btn-email .sharify-title{
    display: none;}

.sharify-btn-vk{
    min-width: 20%}

.sharify-btn-vk .sharify-icon{
    float: left;		padding-left: 10px;}


.sharify-btn-vk .sharify-count{
    display: block;	padding-right: 10px;
    float: right;
}

.sharify-btn-vk .sharify-title{
}

.sharify-btn-skype{
    min-width: 20%}

.sharify-btn-skype .sharify-icon{
    float: left;		padding-left: 10px;}


.sharify-btn-skype .sharify-count{
    display: block;	padding-right: 10px;
    float: right;
}

.sharify-btn-skype .sharify-title{
}

.sharify-container li{
    font-family: Roboto Condensed, sans-serif;}

.sharify-icon{
    font-size: 13px;
    line-height: 35px;
}

.sharify-container li .count{
    background-color: transparent !important;
}

.sharify-btn-wa{
    display: none;
}
.ismobilewa{
    display: block !important;
}
.sharify-container li.sharify-btn-wa a{}.sharify-container li.sharify-btn-wa a:hover{}
.sharify-gplus{
    font-size: 22px;
}
.sharify-container{position:relative;display:block;width:100%;padding:20px 0;overflow:hidden}.sharify-container ul{padding:0;margin:0}.sharify-container li{list-style:none;height:35px;line-height:36px;float:left;margin:0!important;padding-left:2.5px}.sharify-container li a{border:0;background-color:#4db2ec;border-radius:1px;display:block;font-size:15px;line-height:37px;height:100%;color:#fff;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;width:100%;transition:all .2s ease-in-out}@media (max-width:955px) and (min-width:769px){.sharify-count{display:none}}@media (max-width:768px){.sharify-count,.sharify-title{display:none}.sharify-icon{width:100%;padding-left:0!important}.sharify-icon i{text-align:center}.sharify-container li{min-width:14.2857142857%!important;width:12.5%!important}}.sharify-count{float:right}.sharify-container li.sharify-btn-twitter a{background-color:#4db2ec;}.sharify-container li.sharify-btn-twitter a:hover{background-color:#3498db}.sharify-container li.sharify-btn-facebook a{background-color:#3b5998;}.sharify-container li.sharify-btn-facebook a:hover{background-color:#0e2e6f;}.sharify-container li.sharify-btn-gplus a{background-color:#bb0000;}.sharify-container li.sharify-btn-gplus a:hover{background-color:#a30505;}.sharify-container li.sharify-btn-pinterest a{background-color:#cb2027;}.sharify-container li.sharify-btn-pinterest a:hover{background-color:#bb0000}.sharify-container li.sharify-btn-linkedin a{background-color:#007bb6;}.sharify-container li.sharify-btn-linkedin a:hover{background-color:#0e2e6f;}.sharify-container li.sharify-btn-vk a{background-color:#45668e;}.sharify-container li.sharify-btn-vk a:hover{background-color:#32506d;}.sharify-container li.sharify-btn-reddit a{background-color:#ff4500}.sharify-container li.sharify-btn-reddit a:hover{background-color:#e24207;}.sharify-container li.sharify-btn-pocket a{background-color:#d3505a}.sharify-container li.sharify-btn-pocket a:hover{background-color:#B6202C}.sharify-container li.sharify-btn-email a{background-color:#e74c3c;}.sharify-container li.sharify-btn-email a:hover{background-color:#c0392b;}
.sharify-container li{margin-bottom: 5px !important;}
.sharify-container li.sharify-btn-skype a{
    background-color:#00aff0;
}

.sharify-container li.sharify-btn-skype a:hover{

    background-color:#00a0dc;

}

@font-face {
    font-family: 'sharify';
    src: url('../font/sharify.eot?96358311');
    src: url('../font/sharify.eot?96358311#iefix') format('embedded-opentype'),
    url('../font/sharify.woff?96358311') format('woff'),
    url('../font/sharify.ttf?96358311') format('truetype'),
    url('../font/sharify.svg?96358311#sharify') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sharify';
    src: url('../font/sharify.svg?96358311#sharify') format('svg');
  }
}
*/

[class^="sharify-"]:before, [class*=" sharify-"]:before {
    font-family: "sharify";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    /* opacity: .8; *//* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;/* fix buttons height, for twitter bootstrap */
    line-height: 1em;/* Animation center compensation - margins should be symmetric *//* remove if not needed *//* you can be more comfortable with increased icons size */
    /* font-size: 120%; *//* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;/* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.sharify-facebook:before { content: '\e800'; } /* 'î €' */
.sharify-twitter:before { content: '\e801'; } /* 'î ' */
.sharify-mail:before { content: '\e802'; } /* 'î ‚' */
.sharify-pinterest:before { content: '\e803'; } /* 'î ƒ' */
.sharify-linkedin:before { content: '\e804'; } /* 'î „' */
.sharify-gplus:before { content: '\e805'; } /* 'î …' */
.sharify-reddit:before { content: '\e806'; } /* 'î †' */
.sharify-pocket:before { content: '\e807'; } /* 'î ‡' */
.sharify-vk:before { content: '\e808'; } /* 'î ˆ' */
.sharify-skype:before { content: '\e809'; } /* 'î ‰' */
